.calendar {
  margin-left: 20px;
  margin-top: 25px;
  height: 355px;
  width: 600px;
  background-color: beige;
  border-radius: 10px;
  .header {
    height: 40px;
    width: 600px;

    display: flex;
    font-weight: 400;
    font-family: "NeoDunggeunmoPro-Regular";
    .col.col-first {
      margin-top: 8px;
      margin-left: 1%;
      .text {
        font-size: 30px;
      }
      .text.month {
        margin-right: 5px;
      }
    }
    .col.col-end {
      width: 60px;
      height: 20px;
      margin-left: 410px;
      margin-top: 10px;
      float: right;
      display: flex;

      svg {
        width: 60px;
        height: 20px;
        margin-left: 10px;
        margin-left: 5%;
        color: transparentize(rgb(93, 98, 75), 0.2);
        &:hover {
          transform: scale(1.15);
          color: transparentize(rgb(98, 106, 79), 0.2);
        }
      }
    }
  }
  .days {
    font-weight: 700;
    font-size: 1em;

    margin-top: 10px;
    span {
      display: flex;
      line-height: 40px;
      text-align: center;
    }
    .col {
      margin: 0 auto;
      height: 40px;
      width: 86px;
      font-family: "DotGothic16";
      background: transparentize($color: rgb(128, 172, 85), $amount: 0);
      border-left: 1px solid beige;
      border-right: 1px solid beige;
      border-radius: 5px;
    }
  }
  .body {
    background-color: beige;
    margin-bottom: 15px;
    .row {
      height: 50px;
      width: 595px;
      display: flex;
      margin: 0 auto;
      margin-top: 2px;

      .col {
        font-family: "NeoDunggeunmoPro-Regular";
        height: 50px;
        width: 84px;
        display: flex;
        border: 0.4px solid transparentize(rgb(193, 211, 175), 0.4);
        border-radius: 10px;
        font-size: 0.8em;
        span {
          margin: 4px 0 0 4px;
        }
        .not-valid {
          color: rgb(169, 168, 168);
        }
        img {
          opacity: 0.1;
        }
      }
      .col.cell.valid {
        &:hover {
          transform: scale(1.01);
          border: none;
          background: transparentize($color: rgb(205, 206, 171), $amount: 0);
        }
      }
      .col.cell.selected {
        transform: scale(1.02);
        border: none;

        font-weight: 600;
      }
    }
  }
}
@font-face {
  font-family: "NeoDunggeunmoPro-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DotGothic16";
  font-style: normal;
  font-weight: 400;

  src: url("https://fonts.gstatic.com/s/dotgothic16/v15/v6-QGYjBJFKgyw5nSoDAGE7Oi25aLSizIM9pT7D_QAno5281PZBz6w.9.woff2");
}
